In [21]:
#Hello World


#Practicing print statement

print('Hello World') #Press CTRL + ENTER to view output

#Type of errors print function can throw - THESE ARE SYNTAX ERROR
#1.
#prin('Hello World') #This will throw undefinned error meaning there is no such function as prin in python's libraries
#2.
#print('Hello world) #This will throw EOL 'End of Line' while scanning string literal: 
#Which means from the start of an inverted comma it will take everything as a string 
#until it finds another inverted comma which in our case results in an error where in a function's 
#parenthesis does not get closed and hence remain unexecuted

Hello World

In [22]:
#A simple problem:


    #If you run a 10 kilometer race in 43 minutes 30 seconds, what is your average time per mile? What
    #is your average speed in miles per hour? (Hint: there are 1.61 kilometers in a mile).
K = 10
M = K/1.6
T = 43.5/60
AVG_TIME = T/M
print('AVG_TIME:',AVG_TIME*60,' Minutes')
AVG_SPEED = M/T
print('AVG_SPEED:',AVG_SPEED,' MILES/HOUR')

AVG_TIME: 6.959999999999999  Minutes
AVG_SPEED: 8.620689655172415  MILES/HOUR

In [23]:
#Example of semantic error


#1 million = 1,000,000
a = 1,000,000
b = 1000000
print(a) # (1, 0, 0)
print(type(a)) #<class 'tuple'>
print(b) # 1000000
print(type(b)) #<class 'int'>
#Code ran fine but was the output in a intended? NO! It is something called tuple and not an integer of 1 million worth
#How to know type of a value? Type type(value)"

(1, 0, 0)
<class 'tuple'>
1000000
<class 'int'>

In [24]:
#2 special operators + AND *

width = 17
height = 12.0
delimiter = '.'


print(width/2,'type of value is: ',type(width/2)) #python 3 generally stores values in float
print(width/2.0,'type of value is: ',type(width/2.0)) #division by float vakue example
print(height/3,'type of value is: ',type(height/3)) #division by float value example
print(1 + 2 * 5,'type of value is: ',type(1 + 2 * 5)) #PEMDAS example: precedence of * (multiplication) over (addition)
print(delimiter*5,'type of value is: ',type(delimiter*5)) # * used in strings concatenate the string with itself the number of times specified. Here it is 5

8.5 type of value is:  <class 'float'>
8.5 type of value is:  <class 'float'>
4.0 type of value is:  <class 'float'>
11 type of value is:  <class 'int'>
..... type of value is:  <class 'str'>

In [25]:
#A Few Simple Examples

# 1. The volume of a sphere with radius r is 4/3(PI)r3. What is the volume of a sphere with radius 5?
# 2. Suppose the cover price of a book is $24.95, but bookstores get a 40% discount. Shipping costs
#     $3 for the first copy and 75 cents for each additional copy. What is the total wholesale cost for
#     60 copies?
# 3. If I leave my house at 6:52 am and run 1 mile at an easy pace (8:15 per mile), then 3 miles at
#    tempo (7:12 per mile) and 1 mile at easy pace again, what time do I get home for breakfast?

#answer 1

radius = 5
volume = (4/3)*(22/7)*(radius)**3  # using ** for an exponentiation operation . ^ can also be used
print('Volume of sphere',volume)

#Answer 2
CP = 24.95
D = 0.40
SC = 3
SCA = 0.75
B = 60
total_wholesale_cost = B*CP*(1-D) + SC + ((B-1)*SCA)
print('Total Wholesale Cost is ',total_wholesale_cost)

#Answer 3
start_time = (6*60) + 52
ep = 8.25*2
tempo = 3*(7 + (12/60))
total_walk_time = ep + tempo
end_time = start_time + total_walk_time
print('The time I will get back for breakfast will be ',int(end_time//60),':',int(end_time%60)) # // operator gives QUOTIENT and % operator gives reminder

Volume of sphere 523.8095238095237
Total Wholesale Cost is  945.4499999999999
The time I will get back for breakfast will be  7 : 30

In [29]:
#one awkward error encountered

radius = 5
volume1 = (4/3)*(22/7)*(radius)**3 
print(volume1)
try:
    volume2 = (4/3)(22/7)*(radius)**3  #here i have deliberately missed an asterisk getting us 'float' object is not callable error
except TypeError as error:
    print(error) #here we are printing the error
    
# Such an error as above happens when a certain data type like float/string are called as function. 
# Meaning (4/3) might seem something like def (4/3):  with (22/7) as its value which seriosly does not make any 
# sense to coder as well as to interpreter. Hence in a mathematical operation never forget to use the appropriate 
# operator in appropriate place

523.8095238095237
'float' object is not callable

<>:7: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
<>:7: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
<ipython-input-29-978451e6cb39>:7: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
  volume2 = (4/3)(22/7)*(radius)**3  #here i have deliberately missed an asterisk getting us 'float' object is not callable error